doctype
html
  head
    link(rel="stylesheet" href="/css/jquery-ui.css")
    script(src="/js/jquery.js")
    script(src="/js/jquery-ui.js")
    script(src="/js/easeljs-0.8.2.min.js")
    script(src="/js/fits.js")
    script(src="/js/plotly-latest.min.js")

    script(src="/js/three.min.js")
    script(src="/js/three_lut.js")


  body
    h1 #{ title }
    div
       if prev_link
         a(href="#{ prev_link }") PREV (#{ prev_link })
       span ----
       if next_link
         a(href="#{ next_link }.html") NEXT (#{ next_link }.html)

    != yield

    div
      form(id="minmax")
        span min
        input(type="text", id="fitsmin", value=-100)
        span max
        input(type="text", id="fitsmax", value=100)
        input(type="submit", value="set")

        button(onclick="change_colormap(); set_frame(current_frame)") Change LUT


    p#image_text

    script(src="/js_site/minmax_update.js")
    script(src="/js_site/lc_plot.js")
    script(src="/js_site/fits_cube.js")
    script(src="/js_site/fits_canvas.js")

    script.
      plot_lc(rawDataURL);

      var fits = new FITS(url, callback);

      $( document ).ready(canvas_init)
