for article, slug in public.targets.n2784_7_q1._data
  if (slug != "index")
    a(href="#{ root }/targets/n2784_7_q1/#{ slug }.html")
      h2= article.title
      img(src="#{ root }/targets/n2784_7_q1/#{ slug }.lc.png", style="width:300px;")
